@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #0bbaf0;
}

h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin: 14px 0 55px 0;
  color: #0bbaf0;
}

.accordion-main {
  width: 860px;
  margin: auto;
}

.accordion {
  background-color: #0bbaf0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 23px;
  outline: none;
  transition: 0.4s;
  margin-bottom: 5px;
}

.accordion:hover {
  background-color: #ccc;
  color: black;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 4px solid #dcdcdc;
  border-radius: 10px;
  width: 800px;
  margin: auto auto -12px auto;
  position: relative;
  top: -12px;
  z-index: -1;
}

.panel p {
  font-size: 22px;
  color: grey;
}

/* Стили для меню аккордеона*/
.main-form {
  margin-top: 50px;
}

.tab {
  width: 400px;
  margin: auto;
}

.frame {
  width: 630px;
  height: 410px;
  margin: auto;
  background-color: #03a5da;
  border-radius: 5px;
  position: relative;
}

.inside-frame {
  width: 580px;
  height: 363px;
  background-color: black;
  position: absolute;
  border-radius: 5px;
  /* Центрирование div внутри другого div */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

form {
  padding: 71px 45px;
}


.input-form {
  display: block;
  background: url(../img/Shape-input.png) no-repeat;
  background-size: cover;
  width: 483px;
  height: 64px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  font-size: 24px;


}

/* Меняем цвет и отступы placeholder */
.input-form::placeholder {
  color: white;
  padding-left: 25px;
}

.forget-password {
  display: block;
  position: relative;
  left: 20px;
  color: #971502;
  text-decoration: none;
}

.checkbox {
  color: #5a5858;
  margin: 52px 0 0 20px;
}

/* Стилизуем кнопку Войти */

.btn {
  width: 125px;
  height: 41px;
  background: url(../img/shape_btn.png) no-repeat;
  background-size: cover;
  border: none;
  font-size: 24px;
  color: white;
  position: absolute;
  left: 496px;
  bottom: 10px;
}

.tablinks {
  position: relative;
  top: 5px;
  right: 50px;

  width: auto;
  height: auto;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #03a5da;
  color: white;

}

.box {
  width: 100px;
  height: 100px;
  background: red;
}